* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$text-color: #5ebd78;
$text-size: 2.5rem;

@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}